/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }

    withName: BIOFORMATS2RAW {
        def chunkSize = params.chunk_size.split(',')
        def overwrite = params.overwrite ? "--overwrite" : ""
        def compressionProps = params.compression_properties ? params.compression_properties.split(',').collect { "--compression-properties='${it}'" }.join(' ') : ''
        ext.args = "-w ${chunkSize[0]} -h ${chunkSize[1]} -z ${chunkSize[2]} --compression=${params.compression} ${compressionProps} ${overwrite} ${params.bioformats2raw_opts}"
        ext.cpus = "${params.cpus}"
        ext.memory = "${params.memory}"
    }

}
